@* version3Main Template File *@
@()(implicit request: RequestHeader, flash: Flash)

@main("Task List (Version 3)") {
	<div>NEW TEXT TEST WTFFFHAHAHAS</div>
	<div id="contents">Version 3</div>

	<div id="login-section">
		<h2>Login: BUT NEVER LOG OUT</h2>
		<br>
		Username: <input type="text" id="loginName">
		<br>
		<div id="newshit"> BEEP BOOP I AM ROBOT</div>
		Password: <input type="password" id="loginPass">
		<br>
		<button onclick="login()">Login</button><span id="login-message"></span>
		<h3>H3 TEXT WEEEEE</h3>
		<h2>Create User:</h2>
		<br>
		Username: <input type="text" id="createName">
		<br>
		Password: <input type="password" id="createPass">
		<br>
		<button onclick="createUser()" id="CreatUserButton">Create User</button><span id="create-message"></span>
	</div>

	<div id="task-section" hidden>
		<h2>Messages</h2>
	
		<ul id="task-list">
		</ul>
		
		<input type="text" id="newTask"></input>
		<button onclick="addTask()" id="addTaskButton">Add Task</button><span id="task-message"></span>

		<input type="text" id="sendAll"></input>
		<button onclick="sendAll()" id="sendAllButton">Send a Message to all users</button><span id="sendAll-message"></span>

		<h2>Send Private Message:</h2>
		<br>
		User: <input type="text" id="RecieverName">
		<br>
		Message: <input type="text" id="privateMessage">
		<br>
		<button onclick="sendPrivateMessage()" id="sendPrivateMessageButton">Send PM</button><span id="send-Private-Message"></span>
		
		<div>
			<button onclick="logout()" id="logoutButtonJustForTestingHiMark">Logout</button>
		</div>
	</div>

	
	
	<input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
	<input type="hidden" id="validateRoute" value="@routes.TaskList3.validate()">
	<input type="hidden" id="tasksRoute" value="@routes.TaskList3.taskList()">
	<input type="hidden" id="createRoute" value="@routes.TaskList3.createUser()">
	<input type="hidden" id="deleteRoute" value="@routes.TaskList3.delete()">
	<input type="hidden" id="addRoute" value="@routes.TaskList3.addTask()">
	<input type="hidden" id="sendAllRoute" value="@routes.TaskList3.sendAll()">
	<input type="hidden" id="UniversalMessageRoute" value="@routes.TaskList3.sendAll()">
	<input type="hidden" id="privateMessageRoute" value="@routes.TaskList3.privateMessage()">
	<input type="hidden" id="logoutRoute" value="@routes.TaskList3.logout()">
	
	<script src="@routes.Assets.versioned("javascript/version3.js")"></script>
	<!-- <script src="@routes.TaskList2.generatedJS()"></script> -->
		<!-- WHAT THJE FUCK -->

}